body {
  font-family: 'Open Sans', sans-serif;
  /* sets rem equal to px size */
  font-size: 62.5%;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(255, 255, 255);
  background-color: rgb(180, 220, 240);
  border-radius: 0;
  border-bottom: 10px solid black;
}
.container {
  margin: auto
}

#heading {
  font-size: 5rem;
}

#subHeading {
  font-size: 1.5rem;
}

#currentDay{
  font-size: 2.5rem;
  margin-top: 3rem;
  color: black;
  font-weight: bold;
  text-decoration:underline;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #b0b0b0;
  color: rgb(white);
}

.present {
  background-color: #ffffff;
  color: white;
}

.future {
  background-color: rgb(255,165,165);
  color: rgb(white);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.footerLinks {
  color: black;
  background-color: rgb(180, 220, 240);
  text-align: center;
  padding-bottom: .2rem;
  padding-top: 1rem;
  /* 10px */
  font-size: 1.2rem;
  border-radius: 50px;
  margin: 1rem;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto
  ;
}